body {
  color: WhiteSmoke;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
  margin: 20px;
  background: url("../images/background.jpg") fixed no-repeat;
  background-size: cover;
}

#titlu {
  font-size: 40px;
  padding-top: 35vh;
}

.fa.fa-diamond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

hr {
  height: 2px;
}

a {
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.topnav {
  font-size: 16px;
  border-bottom: 3px outset rgba(192, 192, 192, 0.5);
  background: #7B7B7B;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus,
.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
  background: rgba(255, 255, 255, 0.3);
}

.btn {
  display: inline-block;
  color: black;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #C0C0C0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  transition: 0.5s;
  width: 98%;
  font-size: 17px;
}

.btn:hover {
  color: white;
  background: rgba(0, 0, 0, 0.9);
  letter-spacing: 4px;
}

.port {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  transition: 0.5s;
  background-size: cover; 
  background-position: center;
}

@media screen and (max-width: 480px) {
  #titlu {
    font-size: 64px;
  }
  .btn {
    font-size: 10px;
  }
  .btn:hover {
  letter-spacing: 2px;
}
}
