@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url(https://fonts.gstatic.com/s/cantarell/v6/V86VyqXbc09Sss3BPsMj11tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url(https://fonts.gstatic.com/s/cantarell/v6/Qd6zZq_wf1596L3V_8MIs44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  color: WhiteSmoke;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  margin-right: 20px;
  margin-left: 20px;
  background: url("../images/background3.jpg") fixed no-repeat;
  background-size: cover;
  animation: fadein 2s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bck {
  background-color: #C0C0C0;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow-x: hidden;
  color: black;
}

#titlu {
  font-size: 40px;
  padding-top: 35vh;
}

hr {
  height: 2px;
}

a {
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.topnav {
  font-size: 16px;
  border-bottom: 3px outset red;
  background: #7B7B7B;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus,
.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
  background: rgba(255, 255, 255, 0.3);
}

.btn {
  display: inline-block;
  color: black;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #C0C0C0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  transition: 0.5s;
  width: 98%;
  font-size: 17px;
}

.btn:hover {
  color: white;
  background: rgba(0, 0, 0, 0.9);
  letter-spacing: 4px;
}

.port {
  height: 400px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.porttitle {
  padding-bottom: 10px;
  font-style: oblique;
}

.tech {
  padding-top: 50px;
}

.description {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  height: 400px;
  padding: 15px 30px 0 15px;
  background-color: #C0C0C0;
  color: black;
  pointer-events: none;
}

.description > img {
  padding-right: 20px;
  padding-top: 10px;
}

@media screen and (max-width: 480px) {
  #titlu {
    font-size: 64px;
  }
  .btn {
    font-size: 10px;
  }
  .btn:hover {
  letter-spacing: 2px;
  }
  .description {
    overflow: hidden;
  }
  .mediaquery {
    opacity: 0;
  }
}
